<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>편집</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <link rel = "stylesheet" href="/view.css"> 
</head>
<body>
  <header>
    <nav clas="nav-bar">
      <div class="logo">
          <h1> <a href="/">SSP</a></h1>
      </div>
    </nav>
  </header>

  <div class="view">
    <h1>게시글</h1>
  </div>

<br>
<div class="container">
  <div class="co-head">
    <div class="wrap">
      <a style="cursor: pointer;" onclick="history.back();">이전으로</a>
    </div>  
      <% data.forEach(function (item, index) { %>
    <div class="pre">
      <tr>
        <td><a href="/delete/<%= item.num%>">삭제</a></td>
        <td><a href="/edit/<%= item.num %>">편집</a></td>
      </tr>
    </div>
  </div>

  <br>
  <br>
    <div class="content">
      <!-- <br></br>
      <th>글 번호 : </th><td><%= item.num %></td>
      <br></br> 
      <th>제목 : </th><td><%= item.subject %></td>
      <br></br>
      <th>작성자 : </th><td><%= item.author %></td>
      <br></br>
      <th>내용 </th><td><%= item.content %></td>
      <br></br> -->

        <p class = "in-number"> 글 번호 : <%= item.num %></p>
        <br>
                  <p class="in-th">
          작성자 : <%= item.author %>
        </p>
        <br>
        <p class="in-ti">
          제목 : <%= item.subject %>
        </p>          
        <br>
        <p class ="in-content">
          <%= item.content %>
        </p>

    </div>
      <% }); %>
  
</div>
</body>
</html>